{% extends "clone/base.html" %}

{% load staticfiles %}

{% block topbar %}

    <ul class="left">
      <li class="divider"></li>
      <li class="active"><a href="/home/">Home</a></li>
      <li class="divider"></li>
      <li><a href="/products/">Products</a></li>
    </ul>

{% endblock %}

{% block content %}

{% if payment_info %}
<section>
  {% for k, v in payment_info.items %}
    {{ k }}
  {% endfor %}
</section>
{% endif %}

<section>
  <div class="row">
    <div class="panel radius">
      <div class="row collapsed small-4 small-offset-3 small-centered columns">
        <h2>Add a product on Instamojo Clone</h2>
      </div>
    </div>
    <div class="small-10 small-centered columns">
      <form data-abide class="custom" action="/new_product/" method="POST">
        <div class="row">
          <div class="small-6 small-centered columns">
            <input type="text" id="title" name="title"
            placeholder="Title" required />
            <small class="error">Title is required.</small>
          </div>
          <div class="small-6 small-centered columns">
            <textarea id="description" name="description"
            placeholder="Description" required></textarea>
            <small class="error">Description is required.</small>
          </div>
          <div class="small-6 small-centered columns">
            <select id="currency" name="currency" class="medium" required>
              <option DISABLED>USD</option>
              <option>INR</option>
            </select>
          </div>
          <div class="small-6 small-centered columns">
            <input type="text" pattern="number" id="price"
            name="price" placeholder="Price" required />
            <small class="error">You must provide a price.</small>
          </div>
          <div class="small-6 small-centered columns">
            <input type="submit" value="Add it!" class="button expand" />
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

{% endblock %}
