{% extends "clone/base.html" %}

{% load staticfiles %}

{% block content %}

<section>

  <form class="custom" action="/login/" method="POST">
    <div class="row">
      <h3>Sign in</h3>
      <div class="small-4 small-centered columns">
        <input type="email" id="username" name="username" placeholder="You@email.com">
      </div>
      <div class="small-4 small-centered columns">
        <input type="password" id="password" name="password"
               placeholder="Your super secret password!">
      </div>
      <div class="small-4 small-centered columns">
        <input type="submit" value="submit" class="button">
      </div>
    </div>
  </form>

  <div class="row">
    <h3>I'm new here. Sign me up!    {{ reply }}</h3>

    <form class="custom" action="/register/" method="POST">
      <div class="row">
        <h3>Sign in</h3>
        <div class="small-4 small-centered columns">
          <input class="error" type="email" id="username" name="username" placeholder="You@email.com">
        </div>
        <div class="small-4 small-centered columns">
          <input type="password" id="password" name="password"
                 placeholder="Your super secret password!">
        </div>
        <div class="small-4 small-centered columns">
          <input type="submit" value="submit" class="button">
        </div>
      </div>
    </form>

  </div>

</section>

{% endblock %}




